<div th:fragment="create_modal" class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Create game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form" method="POST" th:action="@{/scoresDEI/game}" th:object="${game}">
                <div class="modal-body">
                    <p>Place:
                        <label for="place" class="sr-only">Place</label>
                        <input type="text" id="place" name="place" class="form-control" th:value="*{place}"
                               placeholder="Place" required autofocus>
                    </p>
                    <p>Start time:
                        <label for="startTime" class="sr-only">Start time</label>
                        <input type="datetime-local" id="startTime" name="startTime" class="form-control" th:value="*{startTime}"
                               placeholder="Start time" required>
                    </p>
                    <p>End time:
                        <label for="endTime" class="sr-only">End time</label>
                        <input type="datetime-local" id="endTime" name="endTime" class="form-control" th:value="*{endTime}"
                               placeholder="End time" required>
                    </p>
                    <div>Team A:
                        <label for="teamAId" class="sr-only">Team A</label>
                        <select id="teamAId" name="teamAId" class="form-select" th:field="*{teamAId}" required autofocus>
                            <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.getTeamName()}"></option>
                        </select>
                    </div>
                    <div>Team B:
                        <label for="teamBId" class="sr-only">Team B</label>
                        <select id="teamBId" name="teamBId" class="form-select" th:field="*{teamBId}" required autofocus>
                            <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.getTeamName()}"></option>
                        </select>
                    </div>
                 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
