<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A sports information platform">
    <meta name="author" content="Sancho Simões">
    <title>scoresDEI - Games</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<nav th:insert="fragments/general/navbar.html :: navbar"> </nav>
<div class="jumbotron">
    <hr class="my-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Place:</h5>
                <h6 th:text="${game.getPlace()}"></h6>
            </div>
            <div class="col">
                <h5>Starts at:</h5>
                <h6 th:text="${game.getStartTime()}"></h6>
            </div>
            <div class="col">
                <h5>Ends at:</h5>
                <h6 th:text="${game.getEndTime()}"></h6>
            </div>
            <div class="col">
                <h5>Teams:</h5>
                <h6 th:text="${game.getTeamAName() + ' vs ' + game.getTeamBName()}"></h6>
            </div>
            <div class="col" th:if="${game.getScoreTeamA() == null || game.getScoreTeamB() == null}">
                <h5>Score:</h5>
                <h6> NA </h6>
            </div>
            <div class="col" th:if="${game.getScoreTeamA() != null && game.getScoreTeamB() != null}">
                <h5>Score:</h5>
                <h6 th:text="${game.getScoreTeamA()  + ' - ' + game.getScoreTeamB()}"></h6>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-11">
            </div>
            <div class="col-1">
                <button style="float: right; margin-right: 1em; margin-top: 1em" class="btn btn-dark text-light" type="button" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa-solid fa-plus-circle"></i>
                </button>
            </div>
        </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Type</th>
                    <th scope="col">Time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event :${game.getEvents()}">
                    <td th:text="${event.getId()}"></td>
                    <td th:text="${event.getEventType()}"></td>
                    <td th:text="${event.getOccurrenceTime()}"></td>
                </tr>
                </tbody>
            </table>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form" method="POST" th:action="@{/scoresDEI/game/{id}/createEvent(id=${game.getId()})}" th:object="${event}">
                <div class="modal-body">
                    <p>Type:
                        <label for="type" class="sr-only">Type</label>
                        <select id="type" name="type" class="form-select" th:field="*{eventType}" required autofocus>
                            <option th:value="'START_GAME'">Start game</option>
                            <option th:value="'END_GAME'">End game</option>
                            <option th:value="'INTERRUPT_GAME'">Interrupt game</option>
                            <option th:value="'RESUME_GAME'">Resume game</option>
                            <option th:value="'GOAL'">Goal</option>
                            <option th:value="'RED_CARD'">Red card</option>
                            <option th:value="'YELLOW_CARD'">Yellow card</option>
                        </select>
                    </p>
                    <p>Time:
                        <label for="occurrenceTime" class="sr-only">Time</label>
                        <input type="datetime-local" id="occurrenceTime" name="occurrenceTime" class="form-control" th:value="*{occurrenceTime}"
                               placeholder="Time" required>
                    </p>
                    <p>Description:
                        <label for="description" class="sr-only">Description</label>
                        <textarea type="text" id="description" name="description" class="form-control" th:value="*{description}"
                                  placeholder="Description">

                        </textarea>
                    </p>Player id:
                    <p>
                        <label for="playerId" class="sr-only">Player id</label>
                        <input type="number" id="playerId" name="playerId" class="form-control" th:value="*{playerId}"
                                  placeholder="Player id">
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>