<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A sports information platform">
    <meta name="author" content="Sancho Simões">
    <title>scoresDEI - Games</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background: linear-gradient(to left, #8edad2, #bbcbc5);">
<nav th:insert="fragments/general/navbar.html :: navbar"> </nav>
<div style="height: 600px; overflow: auto;" class="container-fluid">
    <div class="row pt-4">
        <div class="col-11">
        </div>
        <div class="col-1">
            <button title="Create" class="btn btn-dark text-light" type="button" data-toggle="modal" data-target="#createModal">
                <i class="fa-solid fa-plus-circle"></i>
            </button>
        </div>
    </div>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Place</th>
        <th scope="col">Starts at</th>
        <th scope="col">Ends at</th>
        <th scope="col">Teams</th>
        <th scope="col">Score</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game :${games}">
        <td th:text="${game.getPlace()}"></td>
        <td th:text="${game.getStartTime()}"></td>
        <td th:text="${game.getEndTime()}"></td>
        <td th:text="${game.getTeamAName() + ' vs ' + game.getTeamBName()}"></td>
        <td th:if="${game.getScoreA() == null || game.getScoreB() == null}">
            NA
        </td>
        <td th:if="${game.getScoreA() != null && game.getScoreB() != null}">
            <span th:text="${game.getScoreA()  + ' - ' + game.getScoreB()}">
            </span>
        </td>
        <td>
            <a type="button" class="btn btn-primary" th:href="@{/scoresDEI/game/{id}(id=${game.getId()})}">
                <i class="far fa-eye"></i>
            </a>
            <a sec:authorize="hasAuthority('ROLE_ADMIN')" type="button" class="btn btn-success">
                <i class="fas fa-edit"></i>
            </a>
            <a type="button" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<div th:insert="fragments/game/create_modal.html :: create_modal"> </div>
<footer th:insert="fragments/general/footer.html :: footer"> </footer>
</div>
</body>
</html>