<div th:fragment="add_player_modal" class="modal fade" id="addPlayerModal" tabindex="-1" role="dialog" aria-labelledby="addPlayerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPlayerModalLabel">Add player</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form" method="POST" th:action="@{/scoresDEI/team/{id}/player(id=${team.getId()})}" th:object="${player}">
                <div class="modal-body">
                    <div>Player:
                        <label for="player" class="sr-only">Player</label>
                        <select id="player" name="player" class="form-select" th:field="*{id}" required autofocus>
                            <option th:each="player : ${players}" th:value="${player.getId()}" th:text="${player.getPlayerName()}"></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>